@import "tailwindcss";
@import "../../tailwind-config/shared-styles.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family-base), Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}
